<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37992202510-5tmnbsiqibkf0cc3gcbhlnivnj7ordga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37992202510-5tmnbsiqibkf0cc3gcbhlnivnj7ordga</string>
	<key>API_KEY</key>
	<string>AIzaSyC7yQVhsW4THtnvVI1Ph5xiRxq3DH2UbxM</string>
	<key>GCM_SENDER_ID</key>
	<string>37992202510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LeVuPhuoc.Qwiker</string>
	<key>PROJECT_ID</key>
	<string>taxipassdriver-fb862</string>
	<key>STORAGE_BUCKET</key>
	<string>taxipassdriver-fb862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37992202510:ios:8b7948229e1d1960ac975f</string>
</dict>
</plist>